body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: url(/image/citynight.jpg);
    background-size: cover;
    background-position: center;

}
details{
    margin: 80px;
}
summary{
    text-align: center;
    padding: 20px 20px;
    font-size: 18px;
    color: #fff;
    
    backdrop-filter: blur(4px);
    border:  1px solid #fff;
    border-radius: 10px;
    height: 23px;
    width: 23px;
    user-select: none;
    outline: none;
    cursor: pointer;

    line-height: 23px;
    box-shadow: rgba(0 8px 32px 0.25);
    background: rgba(255,255 ,255,0.25);
    transition: transform 200ms ease-in-out 0s;
    
}
 summary::after summary ::before{
    position: static;
    top: 0;
    left: 0;
 }
 summary::after{
    content: "";
 }
 summary::before{
    content: "";
 }
details nav a{
    text-decoration: none;
}
.menu{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: rgba(0 8px 32px 0.25);
    background: rgba(255,255 ,255,0.25);
    backdrop-filter: blur(4px);
    border: 2px solid white;
    margin-top: 8px;
    justify-content: space-between;
    overflow: hidden;
    


}