*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background: #1f1f1f;
    justify-content: center;
    align-items: center;
}
.box{
    height: 400px;
    position: relative;
    width: 800px;
    border-radius: 20px;
    background: #1f1f1f ;
    border: none;
    justify-items: center;
     justify-content: center;
      align-items: center;
    outline: none;
    overflow: hidden;

}
.box::after{
    position: absolute;
    content: '';
    height: 1886px;
    width: 1886px;
    left: -50%;
    bottom: -50%;
    border-radius: 45%;
    background: #1f1f1f;
    animation: anime 5.5s ease-in-out infinite;

}
.box::before{
    content: url(/image/cocacola_logo_PNG2.png);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}
.box .image{
    justify-content: center;
    height: 200px;
    width: 50%;
    object-fit: cover;
    
}
@keyframes anime{
    0%{
        transform:translateY(0%) rotate(0deg) ;
    }
    10%{
        transform:translateY(-5%) rotate(100deg) ;
    } 20%{
        transform:translateY(-10%) rotate(120deg) ;
    } 30%{
        transform:translateY(-15%) rotate(140deg) ;
    }
    40%{
        transform:translateY(-19%) rotate(160deg) ;
    }
    50%{
        transform:translateY(-21%) rotate(180deg) ;
    } 60%{
        transform:translateY(-25%) rotate(200deg) ;
    } 70%{
        transform:translateY(-28%) rotate(220deg) ;
    } 80%{
        transform:translateY(-29%) rotate(240deg) ;
    } 90%{
        transform:translateY(-30%) rotate(260deg) ;
    }
    100%{
        transform: translateY(-35%) rotate(300deg);
    }
}