body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card{
    margin: 20px;
    position: relative; 
    width: 300px;
    height:350px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    

}
/* increases the width of card on hover */
.card:hover{
    width: 600px;
    transition-delay: 0s;
}
/* where image will be displauyed */
.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    border-radius: 20px;
    overflow: hidden;
    
   
    
}
/* creates the circle effect with original size */
.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background:var(--clr);
    clip-path: circle(120px at center);
    transition: 00.5s;
}
/* increases the circle size(to card width)on hovering over card */
.card:hover .circle::before{
    clip-path: circle(300px at center);

}
