* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {

    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #0396a6;
    border-right: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    width: 100%;
    top: 0;
}

.navigation ul li {
    text-decoration: none;
    position: relative;
    width: 100%;
    list-style: none;

}

.navigation ul li img {
    height: 30px;
    width: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 10px;
    margin: 0;
    display: flex;
}

.navigation ul li:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #9cd3d8;
    justify-content: center;
    align-items: center;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 20dp;

}

.navigation ul li:nth-child(1):hover {
    background-color: transparent;
}

.navigation ul li a {
    text-decoration: none;
    position: relative;
    width: 100%;
    color: #ffff;
    display: flex;
}

.navigation ul li a .icon {
    height: 60px;
    display: block;
    min-width: 60px;
    position: relative;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    color: #fff;
    font-size: 24px;
}

.navigation ul li a .title {
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 60px;
    white-space: nowrap;
    position: relative;
    height: 60px;
    display: block;
}

.main {
    min-height: 100vh;
    position: absolute;
    background-color: #f5f5f5;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;

}

.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar {
    height: 60px;
    width: 100%;
    padding-left: 0 10px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #fff;
    cursor: pointer;
}


.toggle::before {
    content: '';
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: black;
}

.search {
    width: 400px;
    position: relative;
    margin: 0 10px;
    align-items: center;
    justify-content: center;

}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    position: relative;
    border-radius: 40px;
    width: 100%;
    height: 35px;
    padding: 5px 20px;
    outline: none;
    padding-left: 35px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.search label .fa {
    position: absolute;
    top: 2px;
    left: 15px;
}

.user {
    position: relative;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

}

.user img {
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cardbox {
    display: grid;
    padding: 20px;
    position: relative;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f2f2f2;
    
    grid-gap: 20px;
}


.cardbox .card {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #fff;

}

.card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.card .cardname {
    position: relative;
    color: #999;
    font-size: 1em;
    font-weight: 500;
}
.iconbox {
    font-size: 2em;
    color: #0396a6;
}
.details{
    padding-top: 0;
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr,1fr;
    
}
.recentpayments{
     position: relative;
     background-color: #fff;
     padding: 20px;
}
  .cardheader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardheader h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 500;
  }
  .btn
  {
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #f2f2f2;
    text-decoration: none;
    border-radius: 6px;
  }
  .details table{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .details table thead td{
    font-weight: 600;

  }
  .details .recentpayments table tr{
    
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .details .recentpayments table tr:hover{
    background-color: #03a9f4;
    color: #fff;
  }
  .details .recentpayments table tbody tr:last-child{
border-bottom: none;
  }
  .details .recentpayments table tr td{
    padding: 9px 5px;
  }
  .details .recentpayments table tbody tr td:last-child{
      text-align: center; 
  }
  .details .recentpayments table thead tr td:nth-child(2),
   .details .recentpayments table tbody tr:nth-child(2){
    
    padding-right: 20px;
  }
 .paid
 {
    background-color:green;
    border-radius: 4px;
    padding: 2px 5px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
 }

.pending{
    background: #f9ca3f;
    border-radius: 4px;
    padding: 2px 5px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.due{
    background: red;
    border-radius: 4px;
    padding: 2px 5px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.recenttenants
{   background-color: #fff;
    position:relative;
    display: grid;
    padding: 20px;
    border-radius: 20px;
}
.recenttenants table{
    position: relative;

}
.recenttenants .imagebox{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius:  50%; 
    overflow: hidden;
     

}
.recenttenants table .imagebox img{
    left: 0;
   top: 0;
   position: absolute; 
   cursor: pointer;
   width: 100%;
   height: 100%;
   object-fit: cover;

}
.recenttenants table tr :hover {
    background-color: #03a9f4;
    color: #fff;
}
.recenttenants table tr td{
    padding: 7px 10px ;
}
.recenttenants table tr td h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;

}
.recenttenants table tr td h4 span{
    font-size: 14px;
    color: #999;
}