*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    background: #8cccff;
    display: flex;

}
.box{
    
    position: absolute;
    color: #fff;
    height: 400px;
    width: 400px;
    box-shadow:  0 15px 25px rgba(0, 0,0,0.15);
    border-radius: 20px;
    display: inline-block;
}
.box .passwrd{
    width: 100%;
    position: relative;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    margin-top: 40px;
    box-shadow:  0 15px 25px rgba(0, 0,0,0.15);

}
.box .passwrd input{
    width: 100%;
    color: #333;
    position: relative;
    border-radius: 8px;
    outline: none; 
    padding: 10px;
    border: none;

}
.box .passwrd #toggleview{
    position: absolute;
    width: 34px;
    height: 34px;
    background: rgba(0,0,0,0.3);
    right:10px;
    top: 8px;
    border-radius: 50%;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    display: flex;

}
.box .passwrd #toggleview::before{
content: '\f06e';
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box .passwrd #toggleview .hide::before{
    content: '\f070 ';

}
.box .validation
{
    padding: 10px;
    background: #376488;
    margin-top: 20px;
    color: #333;
    box-shadow: 0 15px 20px rgba(0, 0,0,0.15);
     border-radius: 8px;
}
.validation ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.validation ul li{
    list-style: none;
    position: relative;
    color: #fff;
    font-size: 0.85em;
    transition: 0.5s;
}
.validation ul li::before{

    content: '\f192 ';
    width: 20px;
    background: red;
    display: inline-flex;
    height: 10px;
    height: 10px;
    font-family: sans-serif;
}